.nav {
  display: flex;
  flex-direction: row;
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.ZUsxSwgn02tok98GLd6SqgHaEo&pid=Api&P=0&w=260&h=163");
  height: 50px;
  color: white;
}

a {
  color: white;
  padding: 8pt;
  font-size: 14pt;
}
.nav__links {
  align-content: flex-start;
  flex-basis: 70%;
  color: white;
  padding: 8pt;
}
.nav__search {
  align-content: right;
  text-align: right;
  flex-basis: 50%;
  padding: 8pt;
  font-size: 14pt;
}

header {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
}

.content__View {
  flex-basis: 50%;
  border-bottom: 1pt solid black;
}

.content__Photo {
  flex-basis: 50%;
  border-bottom: 1pt solid black;
  display: flex;
  flex-direction: column;
}

.content__Favorites {
  flex-basis: 50%;
  border-bottom: 1pt solid black;
}

.dailyPhoto {
  height: 400px;
  width: 600px;
  margin: 10pt;
}
